.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: skyblue;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  color: #108ee9;
}
.title {
  font-size: small;
  color: #108ee9;
  cursor: pointer;
  margin-left: 1rem;
}
