<div class="page">
  <app-back-button></app-back-button>
  <div class="container">
    <img
      src="../../../../assets/image/b0e2f0d0a1f5f70d9c78ba7f7c38f38e.png"
      alt=""
      class="back"
    />
    <img
      src="../../../../assets/image/3031425f10b204f82f3cd6fbb9d06bce.jpg"
      alt=""
      class="avatar"
    />
    <div class="name">末世</div>
    <div class="editImg"></div>
    <div class="edit">编辑个人资料</div>
  </div>

  <div class="title">
    我的动态

    <app-scrollable-tab></app-scrollable-tab>
  </div>
</div>
