:host {
  padding: 0;
}

.page {
  margin: 4rem 7rem;
}
.container {
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 4rem 1rem 1rem;
  grid-gap: 5px;
  grid-template-areas:
    "title title title title "
    " . . . answer"
    ". . .  ."
    "attention discuss browse .";

  place-content: stretch;
  place-items: stretch;
  max-width: 40rem;
}

.answer {
  grid-area: answer;
  color: #108ee9;
  display: block;

  width: 5rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  background-color: #108ee9;
  cursor: pointer;
}
.title {
  grid-area: title;
  font-size: 1rem;
  cursor: pointer;
}

.attention {
  grid-area: attention;
  font-size: 0.8rem;
  color: #ccc;
  white-space: nowrap;
}
.discuss {
  grid-area: discuss;
  font-size: 0.8rem;
  color: #ccc;
  white-space: nowrap;
}
.browse {
  grid-area: browse;
  font-size: 0.8rem;
  color: #ccc;
  white-space: nowrap;
}
