ul {
  display: flex;
  justify-content: space-around;
}

li {
  font-size: 1.5rem;
  cursor: pointer;
  color: #108ee9;
  white-space: nowrap;
}

a {
  height: 4.5rem;
}

.select {
  border-bottom: 0.1rem solid #108ee9;
}
