<div class="container">
  <div class="title">Community</div>

  <app-tab-home
    [selectTabLink]="selectTabLink$ | async"
    [menus]="menus$ | async"
    (tabSelected)="link($event)"
  >
  </app-tab-home>
  <button (click)="question()">提问</button>
  <ng-container *ngIf="my$ | async as my">
    <div class="name" (click)="handleClick()">{{ my.name }}</div>
    <div class="name" routerLink="./login" *ngIf="my.name == null">请登录</div>
  </ng-container>
</div>

<router-outlet></router-outlet>

<div id="overlay" class="hidden" (click)="removeDialog()"></div>
<div id="dialog-container" class="hidden"></div>
