<div class="container">
  <div class="title">Community</div>
  <app-scrollable-tab
    [selectLink]="selectLink"
    (tabselected)="link($event)"
  ></app-scrollable-tab>

  <button (click)="question()">提问</button>
  <!-- <fa-icon class="icon1" [icon]="bell"></fa-icon>
  <fa-icon class="icon2" [icon]="comments"></fa-icon> -->
  <ng-container *ngIf="my$ | async as my">
    <div class="name" (click)="handleClick()">{{ my.name }}</div>
  </ng-container>
</div>

<router-outlet></router-outlet>

<div id="overlay" class="hidden" (click)="removeDialog()"></div>
<div id="dialog-container" class="hidden"></div>
