<div class="container">
  <ng-container *ngIf="name$ | async as name">
    <div class="answerer">{{ name.name }}</div>
  </ng-container>
  <div class="content">{{ card.content }}</div>
  <img
    (click)="like()"
    class="like"
    src="../../../../assets/icons/赞同.png"
    alt=""
  />
  <img
    (click)="dislike()"
    class="dislike"
    src="../../../../assets/icons/不赞同-0.png"
    alt=""
  />
  <img
    *ngIf="isCollect"
    (click)="collect()"
    class="collect"
    src="../../../../assets/icons/收 藏 (1).png"
    alt=""
  />
  <img
    *ngIf="!isCollect"
    (click)="collect()"
    class="collect"
    src="../../../../assets/icons/收 藏 (成功).png"
    alt=""
  />

  <div class="count">获赞数{{ card.voteCount }}</div>
</div>
