.container {
  display: flex;
  border: 1px solid darkgray;
  background-color: snow;
  width: 25rem;
}
.content {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
img {
  width: 8rem;
  height: 8rem;
  border-radius: 4px;
  border: 1px solid darkgray;
}
.title {
  margin: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #108ee9;
  font-size: 1rem;
}
button {
  display: block;
  height: 2.5rem;
  width: 5rem;
  margin: 1rem auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  background-color: #108ee9;
  cursor: pointer;
}
