.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 2rem;
  grid-gap: 5px;
  grid-template-areas:
    "title . "
    "  content content  ";
  place-content: stretch;
  place-items: stretch;
  max-width: 55rem;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.title {
  grid-area: title;
  place-self: center start;
  color: #108ee9;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content {
  grid-area: content;

  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
