.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 2rem;
  grid-gap: 5px;
  grid-template-areas:
    "title button "
    "  content button ";
  place-content: stretch;
  place-items: stretch;
  max-width: 55rem;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.title {
  grid-area: title;
  place-self: center start;
  color: #108ee9;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content {
  grid-area: content;

  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button {
  grid-area: button;
  place-self: center;
  display: block;
  width: 5rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  background-color: #e64340;

  cursor: pointer;
}
