ul {
  display: flex;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  font-size: large;
  cursor: pointer;
  color: #108ee9;
  white-space: nowrap;
}
li:hover {
  color: snow;
}

.under {
  width: 2.2rem;
  height: 2px;
  margin-top: 2px;
}
