ul {
  display: flex;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  cursor: pointer;
  color: #108ee9;
  white-space: nowrap;
}
li:hover {
  color: snow;
}
span {
  height: 2px;
  width: 2.5rem;
}
