.push {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem 6rem 6rem 2rem 2rem 2rem;
  grid-gap: 5px;
  grid-template-areas:
    " input input input input "
    "textarea textarea textarea  textarea "
    "textarea textarea textarea textarea "
    ". button   button .";
  place-content: stretch;
  place-items: stretch;
}

.push .name {
  grid-area: name;
  place-self: center start;
  font-weight: bold;
  font-size: large;
  user-select: none;
}

.textarea {
  grid-area: textarea;
  font-size: larger;
  background-color: skyblue;
}

input {
  grid-area: input;
  height: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border: 1px solid darkgray;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  background: #fff;
  border-radius: 0.2rem;
  width: 25rem;
  margin: 1px auto;
}

button {
  grid-area: button;
  display: block;
  width: 8rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  text-align: center;
  color: #000000;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  background-color: #108ee9;
  color: #fff;
}
