<div class="push">
  <img
    src="../../../../assets/image/3031425f10b204f82f3cd6fbb9d06bce.jpg"
    alt=""
  />
  <div class="name">今天是你加入社区的588天</div>
  <textarea class="textarea" name="content" [(ngModel)]="content"></textarea>
  <button (click)="handleClick()">提问题</button>
  <img class="img1" src="../../../../assets/push/instruction.png" alt="" />
  <img class="img2" src="../../../../assets/push/conversation.png" alt="" />
  <img class="img3" src="../../../../assets/push/edit.png" alt="" />
  <img class="img4" src="../../../../assets/push/icon-test.png" alt="" />
  <div class="title1">回答问题</div>
  <div class="title2">发视频</div>
  <div class="title3">写文章</div>
  <div class="title4">发想法</div>
</div>
