<div class="container">
  <img
    class="img"
    src="../../../../assets/image/v2-04413f17c44333b6d70bb40dcd4bf311_hd.png"
    alt=""
  />
  <div class="title">停赛：新冠风暴席卷国际体坛</div>
  <div class="hot">1,445,549 次浏览</div>

  <button class="button">关注话题</button>
  <div class="span1">足坛危机</div>
  <div class="span2">篮坛中毒</div>
  <div class="span3">电竞转移线上</div>
  <div class="question1">
    一周之间，意甲联赛从空场、改期到彻底停摆
  </div>
  <div class="question2">
    于是在戈贝尔之后，米切尔成为唯一一个检测为阳性的爵士成员
  </div>
  <div class="question3">
    拳头宣布《英雄联盟》2020 季中赛推迟至 7 月举行
  </div>
</div>
