.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 2fr 2fr;
  grid-template-rows: 1.5rem 1.5rem 2rem 0.1rem;
  grid-gap: 5px;
  grid-template-areas:
    "id title title img"
    "content content  content img "
    ".  .                .  img"
    "under under under under ";
  background-color: #fff;
  place-content: stretch;
  place-items: stretch;
  background-color: #fafafa;
  max-width: 40rem;
  margin: auto;
}
.id {
  grid-area: id;
  color: darkgrey;
  place-self: center;
}
.img {
  grid-area: img;
  width: 13rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.title {
  grid-area: title;
  font-size: 1rem;
  place-self: center start;
}
.content {
  grid-area: content;
  font-size: 0.7rem;
  color: darkgray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.under {
  grid-area: under;
  width: 100%;
  background-color: #fff;
}
