.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1.5fr 1.5fr;
  grid-template-rows: 2.3rem 2.3rem 2.3rem 0.1rem;
  grid-gap: 5px;
  grid-template-areas:
    "id title title img"
    "content content  content img "
    "  icon1 hot   icon2  img"
    "under under under under ";

  place-content: stretch;
  place-items: stretch;
  max-width: 50rem;
  margin: auto;
}
.id {
  grid-area: id;
  color: #108ee9;
  place-self: center;
}
.img {
  grid-area: img;
  width: 13rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.title {
  grid-area: title;
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content {
  grid-area: content;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.under {
  grid-area: under;
  width: 100%;
  background-color: #fff;
}
.icon1 {
  grid-area: icon1;
  place-self: center;
  color: darkgray;
}
.icon2 {
  grid-area: icon2;
  place-self: center start;
  color: darkgray;
}
.hot {
  grid-area: hot;
  place-self: center start;
  color: darkgray;
  font-size: 0.8rem;
}
